
.todo-button {
    border: none;
    border-radius: 4px;
    font-size: 21px;
    width: 70px;
    cursor: pointer;
    outline: none;
    background: #6ea57c;
    color: #fff;
    text-transform: capitalize;
  }
  .todo-form {
    text-align: center;
    margin-top: 3%;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px;
    border: 2px solid #170f1d;
    outline: none;
    width: 37%;
    background: transparent;
    color: rgb(38, 107, 55);
    font-size: 25px;
    margin-right: 15px;
  }
  .header {
    margin-top: 15%;
    color: rgb(38, 107, 55);
    text-align: center;

  }
  .todo-text {
    
    padding: 3%;
    color: rgb(38, 107, 55);
    text-align: center;
    float:left;

  }
  .icons {
    
    float:right;
    padding: 2%;
    
  }
 .whole-row {
    margin-left:27%;
   margin-top: 2%;
   width: 25%;
   height: 40px;
   background-color: #dfcfcf;
   

 }